<app-ccc-accordion class="app-customer-entry" [title]="'customer entry'" [id]="'customerEntryExpansionPanel'"
	[disabled]="false" [expanded]="true">
	<div titleDesc class="row justify-start items-center me-20">
		<div class="row text-base leading-6 font-normal w-1/2">
			<span class="fw-semi-bold">Call ID: </span><span>--</span>
		</div>
		<div class="row text-base leading-6 font-normal w-1/2">
			<span class="fw-semi-bold">Today's orders: </span><span>--</span>
		</div>
	</div>
	<div body class="row w-full">
		<app-customer-details class="w-1/2"></app-customer-details>
	</div>
</app-ccc-accordion>
