// Custom Theming for Angular Material
@use '@angular/material' as mat;

@import 'global-scss-mixing';
@import './ccc-startup-loader';
@import './ccc-font-sizing';
@import './ccc-ghost';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	@include font-regular;
	margin: 0;
	color: $ccc-default-text-colour;
	font-size: 1rem;
}

// No blue glow for a on focus
a:focus {
	outline: none;
}

//show cursor pointer over any link
a {
	cursor: pointer;
	color: $ccc-bg-maincolour;

	&:hover,
	&:active,
	&:focus {
		color: $ccc-bg-maincolour;
	}
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 100%;
}

.row {
	display: flex;
}

.col {
	flex: 1;
}