// Define color variables
$primary-font-color: #49454f;
$store-status-color: #148119;
$green-text-color: #008000;
$grey-border-color: #ccc;
$store-hours-shadow: #000;
$white-bg-color: #fff;

.app-address-details {
	.no-results {
		flex-direction: column-reverse !important;

		.manual-address-link {
			text-decoration: none;
		}

		.pac-container {
			display: block !important;
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			border: 0;
			box-shadow: none;
			max-width: 100%;

			&.pac-logo::after {
				background: none !important;
				padding: 0 !important;
				height: 0 !important;
				content: '' !important;
			}
		}

	}

	.default-address {
		text-align: left;
		line-height: 24px;
		font-size: 16px;
		font-weight: 400;

		.default-address-details {
			text-align: left;
			line-height: 24px;
			color: $primary-font-color;
			font-size: 16px;
			font-weight: bold !important;
		}

		.default-address-details-text {
			line-height: 24px;
			color: $primary-font-color;
			font-size: 16px;
			font-weight: 400;
		}
	}

	.store-status {
		color: $store-status-color;
		font-size: 16px;
	}

	.restaurant-status {
		color: $primary-font-color;
		font-size: 16px;
		font-weight: bold;
	}

	.store-hours-container {
		display: inline-flex;
		position: relative; /* Make the container relative to position the popup absolutely */
		align-items: center;

		.mat-icon {
			height: 18px !important;
		}

		.store-hours-header {
			margin-right: 5px;
			font-size: 16px;
			font-weight: bold;
		}

		.store-hours-status {
			display: inline-block;
			color: $green-text-color;
			font-size: 16px;
			font-weight: normal;
			//align-items: center;

			.open {
				color: $green-text-color;
			}

			.closed {
				color: $green-text-color;
			}

			.dropdown-icon {
				margin-left: 5px;
				vertical-align: middle;
				font-size: 16px;
				//display: inline-flex;
				//align-items: center;
			}
		}

		.store-hours-popup {
			position: absolute;
			top: 100%; /* Position the popup right below the label */
			left: 0;
			z-index: 1000;
			margin-top: 5px; /* Add some space between the label and the popup */
			border: 1px solid $grey-border-color;
			border-radius: 5px;
			box-shadow: 0 4px 6px $store-hours-shadow;
			background: $white-bg-color;
			padding: 10px;
			width: fit-content; /* Ensure the width fits the content */
			min-width: 200px; /* Adjust based on your content */
		}

		.day-name {
			width: 120px; /* Fixed width for consistent spacing */
			text-align: left;
			line-height: 24px;
			color: $primary-font-color;
			font-size: 16px;
			font-weight: 400;
		}

		.hours {
			text-align: right;
			line-height: 24px;
			color: $primary-font-color;
			font-size: 16px;
			font-weight: 400;
		}

		/* Ensuring the current day is bold */
		.current-day {

			.day-name {
				font-weight: bold;
			}

			.hours {
				font-weight: bold;
			}
		}

		.storehourscontent {
			display: flex;
			flex-direction: column;
			padding: 5px 0;
			gap: 8px; /* Adjust the gap to control spacing between items */

			div {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
