<div class="app-address-details row flex-col">
	<div class="row justify-between items-center">
		<div class="h6 font-bold leading-6 text-dark-brown">
			Address Details
		</div>
		<button class="row justify-between items-center cursor-pointer" (click)="openRecentAddresses(addressesTemplate)">
			<div class="w-[16px] h-[16px] mr-2">
				<img alt="access time" class="img w-full h-auto" src="./static-files/images/access_time.png" />
			</div>
			<div class="smaller text-dark-orange font-bold">Recent {{deliveryType}} addresses</div>
		</button>
	</div>

	<form [formGroup]="addressDetailsForm">
		<div class="row mt-4">
			<div class="w-3/5 mr-4">
				<mat-form-field color="accent" [hideRequiredMarker]="true">
					<mat-label>{{deliveryType === 'delivery' ? 'Delivery Address' : 'Restaurant Search'}}</mat-label>
					<input formControlName="autocompleteAddress" matInput #inputfield>
				</mat-form-field>

				<div #noResults class="no-results cursor-pointer" [ngClass]="{'row': !isAutoCompleteEmpty}">
					<div class="row no-results-row justify-between items-center">
						<a tabindex="0" class="manual-address-link smaller text-dark-orange font-bold p-2"
							*ngIf="!isAutoCompleteEmpty" (click)="onManualLookup(manualAddress)" (keyup.enter)="onManualLookup(manualAddress)">Manual
							Address Lookup</a>
					</div>
				</div>
			</div>
			<div class="w-2/5">
				<mat-form-field color="accent" dis>
					<mat-label>Dwelling Type</mat-label>
					<mat-select formControlName="dwellingType" (selectionChange)="onDwellingTypeChange($event)">
						@for (option of dwellingTypeOptions; track option) {
						<mat-option [value]="option?.value">{{option?.text}}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		@if (selectedDwellingType && deliveryType === 'delivery') {
		<div class="row mt-4">
			<div class="w-full">
				<app-dwelling-type-details [selectedDwellingType]="selectedDwellingType"></app-dwelling-type-details>
			</div>
		</div>
		}
	</form>
</div>


<ng-template #addressesTemplate>
	<div>
		@if (deliveryType === 'delivery') {
		<mat-selection-list #deliveryAddresses color="primary" [multiple]="false"
			class="bg-snow-grey !p-0 border border-pastel-grey">
			@for (item of recentDeliveryAddresses; track item) {
			<mat-list-option>
				<div matListItemTitle>
					<span>{{item.address_type}}</span>&nbsp;-&nbsp;<span>{{item.street_number}}</span>&nbsp;<span>{{item.street_address}}</span>,&nbsp;<span>{{item.city}}</span>,&nbsp;<span>{{item.province}}</span>
				</div>
				<div matListItemLine>
					<span>{{item.entrance_specs}}</span>
				</div>
			</mat-list-option>
			}
		</mat-selection-list>
		}
		@else if (deliveryType === 'pickup') {
		<mat-selection-list #deliveryAddresses color="primary" [multiple]="false"
			class="bg-snow-grey !p-0 border border-pastel-grey">
			@for (item of recentPickupAddresses; track item) {
			<mat-list-option>
				<div matListItemTitle>
					<span>Store
						#{{item.store_id}}</span>&nbsp;<span>{{item.street_number}}</span>&nbsp;<span>{{item.street_address}}</span>,&nbsp;<span>{{item.city}}</span>,&nbsp;<span>{{item.province}}</span>
				</div>
			</mat-list-option>
			}
		</mat-selection-list>
		}
	</div>
</ng-template>

<ng-template #manualAddress>
	<app-manual-address-details [deliveryType]="deliveryType"></app-manual-address-details>
</ng-template>