<div class="category-dialog-container">
  <div class="header">
    <span class="title">{{ categoryName }}</span>
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <hr class="separator" />

  <div class="mt-3 ml-4 mr-4">
    <div class="row">
      <div class="w-4/6">
        <mat-form-field appearance="outline" class="search-field">
          <mat-icon matPrefix class="search-icon">search</mat-icon>
          <input
            matInput
            placeholder="Search" (input)="onSearch($event)"
          />
        </mat-form-field>
      </div>
      <div class="w-1/6"></div>
      <div class="w-1/6">
        <mat-form-field>
          <mat-select color="accent">
            <mat-option>Sort By</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="products-container">
    <div *ngFor="let i of filteredProducts.slice(0,productsRows-1); index as ind">
      <div class="row" style="margin-left: 2%; margin-top: 2%;">
        <ng-container *ngFor="let product of filteredProducts.slice((ind*4),((ind*4)+4))">
          <div class="w-1/4">
            <div class="row">
              <div class="w-1/8" style="margin-top: 5px; margin-right: 4px;">
                <mat-icon class="price-info">info</mat-icon>
              </div>
              <div class="w-5/6 fw-semi-bold product-title">{{ product.name }}</div>
            </div>

            <!-- Conditionally display buttons based on product properties -->
            <div *ngIf="product.kind === 'single' && product.allow_customization">
              <!-- Buttons for single kind product -->
              <div class="row">
                <div class="w-1/2" style="margin-right: -5%;">
                  <button mat-stroked-button class="price-btn">S ${{ product.price_text.price_value.toFixed(2) }}</button>
                </div>
                <div class="w-1/2">
                  <button mat-stroked-button class="price-btn">M ${{ product.price_text.price_value.toFixed(2) }}</button>
                </div>
              </div>
              <div class="row">
                <div class="w-1/2" style="margin-right: -5%;">
                  <button mat-stroked-button class="price-btn">L ${{ product.price_text.price_value.toFixed(2) }}</button>
                </div>
                <div class="w-1/2">
                  <button mat-stroked-button class="price-btn">XL ${{ product.price_text.price_value.toFixed(2) }}</button>
                </div>
              </div>
            </div>

            <!-- Quick Add Button for Single Kind -->
            <div *ngIf="product.kind === 'single' && !product.allow_customization && product.allow_quick_add">
              <button mat-stroked-button class="fw-semi-bold cust-btn">Quick Add - ${{ product.price_text.price_value.toFixed(2) }}</button>
            </div>

            <!-- Combo with Customization Button -->
            <div *ngIf="product.kind === 'combo' && product.allow_customization">
              <button mat-stroked-button class="fw-semi-bold cust-btn">Configure - ${{ product.price_text.price_value.toFixed(2) }}</button>
            </div>

            <!-- Combo or Single with Quantity Selection and Add to Cart Button -->
            <div *ngIf="(product.kind === 'combo' || product.kind === 'single') && product.allow_qty_selection && product.allow_add_to_cart">
              <button mat-stroked-button class="fw-semi-bold cust-btn">Add to Cart - ${{ product.price_text.price_value.toFixed(2) }}</button>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- <div class="product-list">
    <div class="product-item" *ngFor="let product of filteredProducts">
      <mat-icon class="info-icon">info</mat-icon>
      <span class="product-name">{{ product.name }}</span>
      <div class="price-options">
        <ng-container *ngIf="product.kind === 'single'">
          <button mat-stroked-button class="price-button">
            S ${{ product.price_text.price_value.toFixed(2) }}
          </button>
          <button mat-stroked-button class="price-button">
            M ${{ product.price_text.price_value.toFixed(2) }}
          </button>
          <button mat-stroked-button class="price-button">
            L ${{ product.price_text.price_value.toFixed(2) }}
          </button>
          <button mat-stroked-button class="price-button">
            XL ${{ product.price_text.price_value.toFixed(2) }}
          </button>
        </ng-container>
      </div>
    </div>
  </div> -->
<div class="row">
  <div class="w-1/5">
    <button mat-button class="add-to-order-button">Add to Order</button>
  </div>
  <div class="w-3/5"></div>
  <div class="w-1/5">
    <div class="order-total">Order Total: $0.00</div>
  </div>
</div>
  
  
</div>