$header-height: 70px;
$header-width: 1152px;
$close-button-size: 30px;
$close-button-color: #d4400f;
$title-font-size: 20px;
$title-color: #000000;
$separator-color: #cacaca;
$input-icon-color: #5a5a5a;
$icon-size: 16px;
$icon-color: #d4400f;
$icon-margin-right: 5px;

:host ::ng-deep .category-dialog-container {

  .mat-stroked-button .mat-button-wrapper {
    font-size: 1rem !important; /* Adjust font size as needed */
    //font-weight: 500 !important; /* Adjust font weight as needed */
    line-height: 1.5rem !important; /* Adjust line height as needed */
    letter-spacing: 0.1rem !important; /* Adjust letter spacing as needed */
  }

  .price-btn {
    font-size: 1rem !important; /* Adjust font size */
    font-weight: 500 !important; /* Apply bold or semi-bold weight */
    line-height: 1.5rem !important;
    letter-spacing: 0.1rem !important;
    color: #49454F !important; /* Override color */
    border: 1px solid #CACACA !important;
    border-radius: 5px;
    margin-bottom: 4%;
    width: 80%;
  }

  .cust-btn {
    font-size: 1rem !important; /* Adjust font size */
    font-weight: 600 !important; /* Apply bold or semi-bold weight */
    line-height: 1.5rem !important;
    letter-spacing: 0.1rem !important;
    color: #D4400F !important; /* Override color */
    border: 1px solid #CACACA !important;
    border-radius: 5px;
    margin-bottom: 4%;
    width: 80%;
  }

  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 18px;
  }
  .mat-form-field-outline-thick {
    color: #cacaca !important;
  }

  .mat-form-field-appearance-outline.mat-focused {
      .mat-form-field-outline-thick {
        color: #cacaca !important;
      }
  }
}
.category-dialog-container {
  width: $header-width;
  background-color: white;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  /* Add this rule to ensure scrollbars appear only if the content overflows */
  max-height: calc(100vh - $header-height);
  max-width: 100%;
  overflow-y: auto; /* Vertical scroll only when content exceeds the height */
  overflow-x: auto; /* Horizontal scroll only when content exceeds the width */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 20px;

    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: $title-font-size;
      line-height: 28px;
      color: $title-color;
    }

    .close-button {
      width: $close-button-size;
      height: $close-button-size;
      border: none;
      border-radius: 5px;
      background-color: $close-button-color;
      display: flex;
      align-items: center;
      justify-content: center;

       mat-icon {
         //font-size: 18px;
         color: white;
         overflow: inherit;
       }

      &:hover {
        background-color: rgba(212, 64, 15, 0.8);
      }
    }
  }

  .separator {
    border: none;
    border-top: 1px solid $separator-color;
    margin: 0 auto;
    //width: calc(100% - 40px);
  }

  .mt-3 {
    margin-top: 16px;
  }

  .row {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .search-field {
    width: 100%;
    border-radius: 15px; /* Adds rounded corners to the outer container */
    background-color: #f8f9f9; /* Background color of the search field */
    padding: 0;
    overflow: hidden; /* Ensures the rounded corners apply to the child elements */

    .mat-form-field-flex {
      background-color: inherit; /* Inherit the background color */
    }

    .mat-form-field-outline {
      border-radius: 15px; /* Rounded corners for the outline */
      border-color: transparent !important; /* Removes the default border color */
    }

    .mat-form-field-prefix {
      display: flex;
      align-items: center;
      margin-right: 8px;
    }

    .search-icon {
      font-size: 20px;
      color: $input-icon-color;
    }

    .mat-input-element {
      padding-left: 40px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      caret-color: $input-icon-color;
    }
  }

  .products-container {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 5%;

    .price-info{
      background-color: #D4400F;
      color: #FFFF;
      border-radius: 15px;
      transform: scale(.8);
    }

    .product-title{
      font-family: Roboto;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
      color: #49454F;
    }

  }

  .add-to-order-button {
    margin: 20px;
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
  }

  .order-total {
    padding: 20px;
    text-align: right;
    font-weight: bold;
    color: #000000;
  }
}
