<div class="app-sidenav row border-r border-r-pastel-grey" (mouseenter)="onSideNavToggle()"
	(mouseleave)="onSideNavToggle()">
	<mat-sidenav mode="side" opened>
		<div class="sidenav-container cursor-pointer" [@onSideNavChange]="isSideNavExpanded ? 'open' : 'close'">
			<div class="sidenavitems-container p-3 mt-4">
				@for (sideNavItem of sideNavItemsList; track sideNavItem) {
				<app-sidenav-item [sideNavItem]="sideNavItem"
					[isSideNavExpanded]="isSideNavExpanded"></app-sidenav-item>
				}
			</div>
		</div>
	</mat-sidenav>
</div>
