<a class="app-sidenav-item p-4 h-[56px] row mt-2" routerLink="{{sideNavItem.routeLink}}"
	routerLinkActive="sidenav-item-active" [routerLinkActiveOptions]="{exact: true}">

	<div *ngIf=" !isSideNavExpanded" class="row justify-center items-center">
		<div class="w-[18px] h-[18px]">
			<img alt="{{sideNavItem.alt}}" class="img w-full h-auto"
				src="./static-files/images/{{sideNavItem.icon}}.png" />
		</div>
	</div>
	<div *ngIf="isSideNavExpanded" class="row justify-center items-center">
		<div class="w-[18px] h-[18px]">
			<img alt="{{sideNavItem.alt}}" class="img w-full h-auto"
				src="./static-files/images/{{sideNavItem.icon}}.png" />
		</div>
		<div class="text smaller ms-4 w-[150px] leading-5 text-dark-brown">
			<span>{{sideNavItem.text}}</span>
		</div>
	</div>
</a>
