<div class="order-entry-container">
    <div class="header">
      <h2>Order Entry</h2>
      <span>Pizza Count: 0</span>
      <button mat-icon-button>
        <mat-icon>history</mat-icon> Order History
      </button>
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon> Refresh Order
      </button>
    </div>
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Menu Search</mat-label>
        <input matInput placeholder="Search">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>