@import 'global-scss-mixing';

.order-entry-container {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
  
      h2 {
        margin: 0;
      }
  
      span {
        margin: 0 1rem;
      }
  
      button {
        margin: 0 0.5rem;
      }
    }
  
    .search-bar {
      padding: 1rem;
      background-color: #F8F9F9;
  
      mat-form-field {
        width: 50%;
      }
    }
  }