<mat-expansion-panel [id]="id" [disabled]="disabled" class="!rounded !mb-4 !bg-white" [expanded]="expanded"
	(opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
	<mat-expansion-panel-header class="!px-4 !py-[18px]">
		<mat-panel-title class="!flex !flex-col !justify-between !items-center">
			<div class="topRow w-full row">
				<h5 class="flex-auto fw-bold capitalize text-xl leading-7 text-black">{{title}}</h5>
				<div class="flex-auto">
					<ng-content select="[titleDesc]"></ng-content>
				</div>
				<div class="toggle-icon cursor-pointer w-[24px] h-[24px] bg-dark-orange rounded-[5px]">
					<div *ngIf="panelOpenState">
						<img alt="panel_open" class="w-full h-auto" src="./static-files/images/up_caret.png" />
					</div>
					<div *ngIf="!panelOpenState">
						<img alt="panel_close" class="w-full h-auto" src="./static-files/images/down_caret.png" />
					</div>
				</div>
			</div>
			<div class="bottomRow w-full row">
				<ng-content select="[collapsedDesc]"></ng-content>
			</div>
		</mat-panel-title>
	</mat-expansion-panel-header>
	<ng-content select="[body]"></ng-content>
</mat-expansion-panel>
