<div class="app-new-customer w-full col">
	<div class="row p-4 bg-slate-100 main-content">
		<div class="col">
			<mat-accordion>
				<app-customer-entry></app-customer-entry>
				<!-- TODO:: Change while developing order entry section -->
				<app-ccc-accordion [title]="'order entry'" [id]="'orderEntryExpansionPanel'" [disabled]="false"
					[expanded]="false">
					<div body>
						<h2>Order Entry Content</h2>
					</div>
				</app-ccc-accordion>
				<!-- TODO:: Change while developing payment information section -->
				<app-ccc-accordion [title]="'payment information'" [id]="'orderEntryExpansionPanel'" [disabled]="false"
					[expanded]="false">
					<div body>
						<h2>Payment Information Content</h2>
					</div>
				</app-ccc-accordion>
			</mat-accordion>
		</div>
	</div>
</div>
