// All global color variables should live here
$ccc-bg-maincolour: #d54110;
$ccc-bg-secondcolor: #ff9700;
$ccc-btn-dark-orange: #d54110;
$ccc-default-text-colour: #4c3017;
$ccc-light-gray: #ccd6d8;
$ccc-dark-gray: #3b210b;
$ccc-error-colour: #d54110;
$ccc-dark-brown: #48311b;
$ccc-darker-brown: #5a5a5a;
$ccc-btn-darker-orange: #d4400f;

$white: #fff;
$green: #4e7026;
$light-green: #8abc53;

$form-grey: #6d7273;
$form-button-grey: #d1dde0;
$form-btn-disabled: #d1dde1;

$footer-gray: #eef2f5;
$border-line-color: #e1e7e9;

$error-icon-grey: #eaf0f3;